/**CSS comment
-----------------------------
00: css variable
01: color
02: layout
03: typography
04: transition, animation, selector practice
05: any exploration
----------------------------
*/

/**00: css variable */
:root{
    --body-color: hsla(270, 25%, 98%, 0.845);
    --zen-intro-color: hsl(140, 7%, 50%);
    --sidebar-color: hsla(240, 16%, 48%, 0.796);
    --h1-color: rgb(103, 171, 126);
    --h2-color: hsla(140, 7%, 50%,);
    --page-width: 45vw;
    --page-top: 75vh;
    --bottom-bar-height: 25vh;
}

/**01: color */
body{
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--zen-intro-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}
h1{
    background-color: var(--h1-color);
}
h2{
    background-color: var(--h2-color);
}

/**02: layout */
div.explaination, div.requirement, div.benefits, div.participation{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top);   
}
div.explaination{
    left: 2vw;
    background-image: url(../img/newspaper1.jpg);
}
div.requirement{
    left: 20vw;
}
div.benefits{
    left: 38vw;
}
div.participation{
    left: 56vw;
}

aside.sidebar{
    position: absolute;
    right: 0;
    top: 0%;
    width: 15vw;
    height: 115vh;
}
div.extra1{
    position: fixed;
    left: 25%;
    width: 35%;
    height: 70vh;
    background-image: url(../img/newspaper3.jpg);
}
div.extra2{
    position:fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--bottom-bar-height);
    background-color: rgb(43, 23, 173);
}

section.intro{
    position: relative;
    width: 50%;
    left: 25%;
    top: 5%;
    z-index: -2;
    background-image: url(../img/newspaper2.jpg);
}
/**file tap */
div.explanation h3, div.requirement h3{
    margin-top: -8%;
    border: 5px solid burlywood;
    background-color: rgb(43, 23, 173);
    width: 125px;
    padding: 5px;
}

/**03: typography */
#font-face{
    font-family:"mFont";
    src: url(../fonts/chunkfive.eot);
}

header h1{
    font-family: "mFont", sans-serif;
    font-weight: bolder;
    font-size: 1.12em;
    letter-spacing: normal;
}

header h2{
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px rgb(38, 4, 78);
    text-decoration: overline;
    text-decoration: wavy;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

#design-selection h3{
    display: none;
    /*visibility: hidden;*/
}

#design-archives {
    display: none;
}

#resources {
    display: none;
}


/**04: transition, animation, selector practice */

/**05: any exploration */